<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list class="list">
    <ion-item class="list-item" *ngFor="let color of (colors$|async)">
      <div class="roundy-thingy" [style.backgroundColor]="color.code"></div>
      <div class="list-item-column">
        <h2>{{ color.name }}</h2>
        <p>{{ color.code }}</p>
      </div>
      <span class="spacer"></span>
      <div class="list-item-column">
        <ion-button fill="outline" item-end color="dark" (click)="presentLoading()">View</ion-button>
      </div>
    </ion-item>
  </ion-list>
